<!DOCTYPE html>
<html>

<head>
  <title>SFTS | Home
  </title>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</head>

<body class="jumbotron text-center bg-light">
<div class="jumbotron bg-light">
  <h1 class="text-success display-3">SF<span class="text-warning">TS</span> </h1>
  <h2 class="text-secondary">Firm View</h2>
  <nav class="navbar navbar-expand-sm bg-light navbar-light btn btn-outline-success">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home | SFTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/firmView">Firm</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-success" href="/firm/getOrderDetailsView">Order Details</a>
        </li>
        
        <li class="nav-item  ">
          <a class="nav-link " href="/firm/viewBalanceView">View Balance</a>
        </li>
        
        
      </ul>
    </nav>
    <br>

<div class="jumbotron border border-success bg-light">
    <table class="table table-sm table-bordered">
        <thead class="bg-dark text-success">
            <tr>
                <th>Firm ID</th>
                <th>Order ID</th>
                <th>Product Details</th>
                <th>No. Of Units</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>
                            <%= getOrderData._firmId %>
                        </td>
                <td>
                    <%= getOrderData._orderId %>
                </td>
                <td>
                    <%= getOrderData._productDetails %>
                </td>
                <td>
                        <%= getOrderData._numberOfUnits%>
                    </td>
           
            </tr>

           
        </tbody>
    </table>
   

    <br><br>
    <div class="jumbotron bg-light border border-success">
            <h2 class="text-secondary">Send Price Details To School</h2>
            <br>
        <form action="/firm/sendSummaryToSchool" method="POST">
          <input type="text" name="firmAddress" placeholder="Firm Address" required />
          <br /><br />
          <input type="text" name="orderId" placeholder="Order ID" required />
          <br /><br />
          <input type="text" name="priceOfOneUnit" placeholder="Price Of One Unit" required />
          <br /><br />
          <input type="text" name="totalPrice" placeholder="Total Price" required />
          <br /><br />
      
          <button type="submit" class="btn btn-outline-success">Submit</button>
       
        </form>
      </div>
</div>




</div>
 </body>

</html>