<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Firm Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
        <div class="form-modal">
                <div class="form-toggle">
                    <button id="man-toggle">Login</button>
                </div>
                <div id="man-form">
                    <form id="manform" action="/firm/login" method="POST">
                        <input type="text" name="fAddress" placeholder="Firm Address" />
                        <input type="text" name="fPassword" placeholder="Firm Password" />
                        <table>
                            <tr>
                                <td ><input type="submit" value = "Login" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            
            <a class="nav-link" id="list" href="/">
                    <h3>Home</h3>
                    
                </a>
</body>
</html>